*{
    margin: 0;
    padding: 0;
    font-family: "Nimbus Sans L";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}


#main{
    width: 100%;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 10vw;
}

#nleft{
    display: flex;
    gap: 20px;
}


#nav a{
    font-weight: 800;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15vw;
    padding: 0vw 10vw;
}

#sustain{
    width: 10vw;
}

#sustain p{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 12px;
    opacity: .5;
    margin: 10px 0;
    
}


#sustain #susimagewrapper{
    width: 10vw;
    height: 25vh; 
}

#susimagewrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral{
    position: relative;
    width: 30vw;
    min-height: 42vw;
}

#imgntext{
    width: fit-content;
    height: fit-content;
}

#ephemeral img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral p{

    font-size: 1.3vw;
    letter-spacing: -.07vw;
    line-height: 1.5vw;
    width: 40%;

}

#ephemeral #headings{
    top: -22%;
    left: -20%;
    position: absolute;
}

#ephemeral h1{
    letter-spacing: -.4vw;
    line-height: 1;
    font-size: 6vw;
    font-weight: 400;
    
}


#visit{
    display: flex;
    gap: 20px;
    align-items: center;
}

#circlev{
    border-radius: 50%;
    border: 1px solid #5e5e5e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
}

#circlev i{
    color: #5e5e5e;
}

#visit h3{
    font-weight: 400;
    color: #5e5e5e;
}

#motive{
    padding: 3vw 10vw;


}

